$themes: (
  light: (
    primary: (
      50: #f0f3fe,
      100: #dce2fd,
      200: #c1cdfc,
      300: #97adf9,
      400: #6684f4,
      500: #425aef,
      600: #2c3ae4,
      700: #2427d1,
      800: #2423aa,
      900: #222486,
      950: #1a1952,
      DEFAULT: #425aef,
    ),
    font: #363636,
    font-reverse: #f7f9fe,
    background: #f7f9fe,
    card-bg: #ffffff,
  ),
  dark: (
    primary: (
      50: #fef8ec,
      100: #fbecca,
      200: #f7d790,
      300: #f2b94b,
      400: #f0a52f,
      500: #e98517,
      600: #ce6211,
      700: #ab4412,
      800: #8b3515,
      900: #722d15,
      950: #421506,
      DEFAULT: #e98517,
    ),
    font: #f7f7fa,
    font-reverse: #18171d,
    background: #18171d,
    card-bg: #2a2a2a,
  ),
);
@mixin apply-theme($theme) {
  @each $type, $values in map-get($themes, $theme) {
    @if $type == primary {
      @each $key, $value in $values {
        --k-primary-color-#{$key}: #{$value};
      }
      --k-primary-color: var(--k-primary-color-DEFAULT);
    } @else {
      --k-#{$type}-color: #{$values};
    }
  }
}

@mixin primevue-light() {
  --p-primary-color: var(--p-primary-500);
  --p-primary-contrast-color: var(--p-surface-0);
  --p-primary-hover-color: var(--p-primary-600);
  --p-primary-active-color: var(--p-primary-700);
  --p-content-border-color: var(--p-surface-200);
  --p-content-hover-background: var(--p-surface-100);
  --p-content-hover-color: var(--p-surface-800);
  --p-highlight-background: var(--p-primary-50);
  --p-highlight-color: var(--p-primary-700);
  --p-highlight-focus-background: var(--p-primary-100);
  --p-highlight-focus-color: var(--p-primary-800);
  --p-text-color: var(--p-surface-700);
  --p-text-hover-color: var(--p-surface-800);
  --p-text-muted-color: var(--p-surface-500);
  --p-text-hover-muted-color: var(--p-surface-600);
}
@mixin primevue-dark() {
  --p-primary-color: var(--p-primary-500);
  --p-primary-contrast-color: var(--p-surface-100);
  --p-primary-hover-color: var(--p-primary-600);
  --p-primary-active-color: var(--p-primary-700);
  --p-content-border-color: var(--p-surface-500);
  --p-content-hover-background: var(--p-surface-800);
  --p-content-hover-color: var(--p-surface-0);
  --p-highlight-background: color-mix(
    in srgb,
    var(--p-primary-400),
    transparent 84%
  );
  --p-highlight-color: rgba(255, 255, 255, 0.87);
  --p-highlight-focus-background: color-mix(
    in srgb,
    var(--p-primary-400),
    transparent 76%
  );
  --p-highlight-focus-color: rgba(255, 255, 255, 0.87);
  --p-text-color: var(--p-surface-0);
  --p-text-hover-color: var(--p-surface-0);
  --p-text-muted-color: var(--p-surface-400);
  --p-text-hover-muted-color: var(--p-surface-300);
}
