$themes: (
  light: (
    primary: (
      50: #f0f3fe,
      100: #dce2fd,
      200: #c1cdfc,
      300: #97adf9,
      400: #6684f4,
      500: #425aef,
      600: #2c3ae4,
      700: #2427d1,
      800: #2423aa,
      900: #222486,
      950: #1a1952,
      DEFAULT: #425aef,
    ),
    font: #363636,
    background: #f7f9fe,
    card-bg: #ffffff,
  ),
  dark: (
    primary: (
      50: #fef8ec,
      100: #fbecca,
      200: #f7d790,
      300: #f2b94b,
      400: #f0a52f,
      500: #e98517,
      600: #ce6211,
      700: #ab4412,
      800: #8b3515,
      900: #722d15,
      950: #421506,
      DEFAULT: #f2b94b,
    ),
    font: #f7f7fa,
    background: #18171d,
    card-bg: #2a2a2a,
  ),
);
@mixin apply-theme($theme) {
  @each $type, $values in map-get($themes, $theme) {
    @if $type == primary {
      @each $key, $value in $values {
        --k-primary-color-#{$key}: #{$value};
      }
      --k-primary-color: var(--k-primary-color-DEFAULT);
    } @else {
      --k-#{$type}-color: #{$values};
    }
  }
}
